<form action="" [formGroup]="searchForm" class="searchForm" (ngSubmit)="search()">
    <input type="text" formControlName="query">
    <div class="categories">
        <div class="category">
            <label for="category">All</label>
            <input type="radio" value="multi" formControlName="category">
        </div>
        <div class="category">
            <label for="multi">All</label>
            <input type="radio" value="artist" formControlName="category">
        </div>
        <div class="category">
            <label for="multi">Songs</label>
            <input type="radio" value="track" formControlName="category">
        </div>
        <div class="category">
            <label for="multi">Albums</label>
            <input type="radio" value="multi" formControlName="category">
        </div>
    </div>

    <button type="submit">Search</button>
</form>
<div class="song-results carousel w-full p-4 space-x-4 rounded-box" *ngIf="searchRes">
    <div class="song carousel-item relative w-56 md:w-80 lg:w-96 aspect-square " *ngFor="let res of searchRes.tracks.items" style="background-image: url({{res.data.albumOfTrack.coverArt.sources[0].url}});">
        
        
        <div class="overlay-dark absolute flex place-items-end">

            <p class="text-lg text-white pl-4">{{res.data.name}}</p>  
        </div>

        <button class="btn btn-primary absolute right-3 bottom-3 btn-sm rounded-full" (click)="playPreview(res.data.id)">P</button>
    </div>
</div>
<audio *ngIf="song" [src] = song.preview_url class="absolute" autoplay preload></audio>
<div class="song-results">

</div>

<div class="results flex">
    <!-- <div class="result" *ngFor="let res of searchRes.albums.items">
        <p>{{res.data.name}}</p>
    </div> -->
</div>



<router-outlet></router-outlet>